*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card{
    /* background: url('bg.jpg'); */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 12px 13px;
    border: 2px solid black;
    
}

.entity{
    margin: 12px;
    color: red;
}